ul {
    list-style: none;
    display: flex;
    gap: 3em;
}

a {
    text-decoration: none;
    color: black;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.navRight {
    margin-right: 10em;
}

.borderNavRight {
    border: solid;
    padding: 1em;
    border-radius: 4px;
}

button {
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 14px;
    padding: 23px;}
    